body{
    margin: 0;
    padding: 0;
    background: url('4909528.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
    background-repeat: no-repeat;

}